<div class="content">
        <div class="container product-type-sec">
          <div class="gap-xs"></div>
          <div class="c-white row">
            <div class="large-size col-lg-3">
              LOẠI BÁNH
            </div>
            <div class="col-lg-3">
              <input type="search" placeholder="tìm kiếm" class="mt-2 py-1 pl-2 border-0" style="border-radius: 18px; outline:none;">
            </div>
            <div class="col-lg-3">
              <div class="sort-by row bg-dark overflow-hidden my-2 ml-1">
                <label for="sort-by-item-1" style="color: white;"> Sắp xếp theo: </label>
                <select name="sort-by-toggle" class="sort-by-item bg-dark" id="sort-by-item-1" style="color: white; width: 85px;">
                  <option value="id"> ID </option>
                  <option value="Tên loại bánh"> Tên loại bánh </option>
                  <option value="Loại bánh chính"> Loại bánh chính </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <a href="./product-type.html" class="d-block btn btn-primary mt-1 add">
                + Thêm bản ghi 
              </a>
            </div>
          </div>
          <div class="gap-xs "></div>
          <div class="table-responsive-lg">
            <table class="table table-hover table-striped table-dark">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tên loại bánh</th>
                  <th scope="col">Loại bánh chính</th>
                  <th scope="col">Loại bánh phụ</th>
                </tr>
              </thead>
              <tbody has-sumary="false">
                {{#each this.catArr}}
                <tr>
                  <th scope="row">{{productTypeID}}</th>
                  <td>{{productType}}</td>
                  <td>{{mainType}}</td>
                  <td>{{subType}}</td>
                  <td class="pt-1">
                    <a href="./product-type.html" class="btn btn-outline-primary edit"> sửa </a>
                    <button class="btn btn-outline-danger delete" data-type="product-type"> xóa </button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>

        <div class="gap-sm"></div>

        <div class="container cooking-type-sec">
          <div class="gap-xs"></div>
          <div class="c-white row">
            <div class="large-size col-lg-3">
              PHƯƠNG PHÁP CHẾ BIẾN
            </div>
            <div class="col-lg-3">
              <input type="search" placeholder="tìm kiếm" class="mt-2 py-1 pl-2 border-0" style="border-radius: 18px; outline:none;">
            </div>
            <div class="col-lg-3">
              <div class="sort-by row bg-dark overflow-hidden my-2 ml-1">
                <label for="sort-by-item-1" style="color: white;"> Sắp xếp theo: </label>
                <select name="sort-by-toggle" class="sort-by-item bg-dark" id="sort-by-item-1" style="color: white; width: 85px;">
                  <option value="id"> ID </option>
                  <option value="Tên phương pháp"> Tên phương pháp </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <a href="./cooking-type.html" class="d-block btn btn-primary mt-1 add">
                + Thêm bản ghi 
              </a>
            </div>
          </div>
          <div class="gap-xs "></div>
          <div class="table-responsive-lg">
            <table class="table table-hover table-striped table-dark">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tên phương pháp</th>
                </tr>
              </thead>
              <tbody has-sumary="false">
                {{#each this.cookingArr}}
                <tr>
                  <th scope="row">{{cookingTypeID}}</th>
                  <td>{{cookingType}}</td>
                  <td class="pt-1">
                    <a href="./cooking-type.html" class="btn btn-outline-primary edit"> sửa </a>
                    <button class="btn btn-outline-danger delete" data-type="cooking-type"> xóa </button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>