<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--import form another css source-->
  <!--must reset first-->
  <link rel="stylesheet" href="../../asset/reset.css" />
  <link rel="stylesheet" href="../../asset/setup.css" />
  <link rel="stylesheet" href="../../asset/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../asset/fontawesome/css/all.min.css" />

  <style>
    .cart-number{
      display: block;
      position: absolute;
      right: 10px;
      top: -10px;
    }
  </style>

  <!--add your style here-->
  {{{_sections.css}}}

  <title>CKT Bakery - {{title}}</title>
</head>

<body class="bg-d">

  <!--header-->
  <div class="header bg-w">
    <div class="heading-bar">
      <a href="/" class="logo">
        <img src="../../images/logos/logo_small.png" alt="CKT Bakery" />
      </a>
      <span class="heading-right">
        <form id="frm-logout-client" method="POST" action="/logout"></form>
        {{#if isAuth}}
        <a class="fa-2x mr-3 c-yellow" href="/user">
          <i class="far fa-smile-wink"></i>
        </a>
        <a class="fa-2x mr-3 c-yellow" href="javascript:$('#frm-logout-client').submit();">
          <i class="fas fa-sign-out-alt"></i>
        </a>
        <a class="fa-2x mr-3 c-yellow" href="/cart">
          <i class="fas fa-shopping-cart"></i>
          <p class="cart-number" id="cart-number-total">0</p>
        </a>
        {{else}}
        <button class=" mr-2 c-yellow loginbtn" onclick="openform()">
          <i class="fa-2x far fa-user"></i>
        </button>
        <div id="myForm" class="form-popup is-login col-lg-6" >
          <div class="btn-group">
            <button id="login-side-btn" class="active">
              Đăng Nhập
            </button>
            <button id="signup-side-btn">
              Đăng Kí
            </button>
            <button type="button" class="btn-cancel" onclick="closeform()">
              <i class="fas fa-sign-out-alt"></i>
            </button>
          </div>
          <div class="l-s-forms">
            <div id="login-side" class="login active" >
              <form id="frm-login-client" action="/login" method="POST">
                <div class="form-group row">
                  <div class="col-12">
                    <label for="login-username" class="col-form-label"> Tên đăng nhập </label>
                    <input name="username" type="text" class="form-control" id="login-username" placeholder=" Tên đăng nhập" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label for="login-password" class="col-form-label">Mật khẩu</label>
                  <input name="password" type="password" class="form-control" id="login-password" placeholder="Mật khẩu" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck1">
                      <label class="form-check-label" for="gridCheck1">
                        Nhớ mật khẩu
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="signup" id="signup-side">
              <form id="frm-register-client" action="/register" method="POST">
                <div class="form-group row">
                  <div class="col-12">
                    <label for="register-username" class="col-form-label"> Tên đăng nhập </label>
                    <input name="username" type="text" class="form-control" id="register-username" placeholder=" Tên đăng nhập" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label for="register-password" class="col-form-label">Mật khẩu</label>
                  <input name="password" type="password" class="form-control" id="register-password" placeholder="Mật khẩu" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12">
                    <label for="register-refill-password" class="col-form-label">Nhập lại mật khẩu</label>
                  <input type="password" class="form-control" id="register-refill-password" placeholder="Nhập lại mật khẩu" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="gap-xs"></div>
                    <button type="submit" class="btn btn-primary">Đăng kí</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <a class="fa-2x mr-3 c-yellow" href="/cart">
          <i class="fas fa-shopping-cart"></i>
        </a>
        {{/if}}
      </span>
    </div>
    <div class="menu-bar">
      <nav class="navbar navbar-expand-lg navbar-light bg-l">
        <a href="/" class="large-size c-yellow mr-md">CKT Bakery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto pt-xs">
            <li class="nav-item active">
              <a class="nav-link" href="/">Trang Chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="sweet-products" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Loại Sản Phẩm
              </a>
              <div id="list-product-type" class="dropdown-menu" aria-labelledby="sweet-products">
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="sweet-products" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Phương thức chế biến
              </a>
              <div id="list-cooking-type" class="dropdown-menu" aria-labelledby="sweet-products">
              </div>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">Liên Hệ & Hợp Tác</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/search">
            <input name="product" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" id="search" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <!--back to top -->
  <button onclick="topFunction()" id="to-top">
    <i class="fas fa-2x fa-chevron-up"></i>
  </button>

  <!--body-->
  {{{body}}}

  <!-- Footer -->
  <footer class="page-footer bg-dark pt-4 c-dark-2">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mt-md-0 mt-3">
          <h5 class="text-uppercase">CKT Bakery</h5>
          <div class="small-size">
            Nhận thông báo từ chúng tôi
          </div>
          <div class="input-group my-3 mx-auto ml-lg-0" style="width: 250px;">
            <input type="text" class="form-control" placeholder="Nhập Email của bạn">
            <a href="#" class="input-group-append">
              <span class="input-group-text">
                <i class="far fa-paper-plane"></i>
              </span>
            </a>
          </div>
          <hr>
          <div>
            <a class="d-inline-block mr-3 c-dark-2" href="#"><i class="fab fa-2x fa-facebook"></i></a>
            <a class="d-inline-block mr-3 c-dark-2" href="#"><i class="fab fa-2x fa-youtube"></i></a>
            <a class="d-inline-block mr-3 c-dark-2" href="#"><i class="fab fa-2x fa-twitter-square"></i></a>
            <a class="d-inline-block mr-3 c-dark-2" href="#"><i class="fab fa-2x fa-instagram"></i></a>
          </div>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3" />

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Về chúng tôi</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/history">Lịch sử </a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Tài khoản của tôi</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#">Đăng nhập</a>
            </li>
            <li>
              <a href="#">Tạo tài khoản</a>
            </li>
            <li>
              <a href="#">Đặt hàng</a>
            </li>
            <li>
              <a href="/cart">Giỏ hàng</a>
            </li>
            <li>
              <a href="/edit-info">Chỉnh sửa thông tin</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Liên hệ chúng tôi</h5>
          <ul class="list-unstyled">
            <li>
              <div class="small-size address">
                7C1 Đường 66, Phường Tân Phong, Quận 7, TPHCM.
              </div>
            </li>
            <li>
              <a href="tel:+8432-8473-083" class="small-size tel">0328473083</a>
            </li>
            <li>
              <div class="small-size opening-days">
                Chúng tôi phục vụ các bạn mỗi ngày, kể cả ngày lễ, nghỉ tết
              </div>
              <div class="small-size opening-times">
                thứ 2 - thứ 6: 7h - 21h
              </div>
              <div class="small-size opening-times">
                thứ 7 và chủ nhật: 7h - 23h
              </div>
            </li>
            <li>
              <div class="small-size mail">
                <a href="mail:tusocnau@gmail.com"> ctkbakeryloveu@gmail.com </a>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="#"> ctkbakeryloveu.com</a>
    </div>

  </footer>


  <!--import another javascript source-->
  <script src="../../asset/bootstrap/js/jquery-3.4.1.min.js"></script>
  <script src="../../asset/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--import your js here-->
  <script>
    // set nav with cooking-type and product-type
    $.getJSON(`/get/product-type`, function (respon) {
      if (respon.total == 0) return 
      respon.data.forEach(function(e){
        $('#list-product-type').append(
          `<a class="dropdown-item" href="/search?product-type=${e.productTypeID}">${e.productType}</a>`
        )
      })
    })
    $.getJSON(`/get/cooking-type`, function (respon) {
      if (respon.total == 0) return 
      respon.data.forEach(function(e){
        $('#list-cooking-type').append(
          `<a class="dropdown-item" href="/search?cooking-type=${e.cookingTypeID}">${e.cookingType}</a>`
        )
      })
    })

      function updateCartNumber(){
        $.getJSON(`/cart/total`, function (respon) {
          if (respon.total == 0) return
          $('#cart-number-total').text(respon)
        })
      }
    updateCartNumber();
    
    $('#frm-register-client').on('submit', function (e) {
        e.preventDefault();

        const username = $('#register-username').val();
        if (username.length === 0) {
          alert('Invalid data.');
          return;
        }

        $.getJSON(`/is-available?user=${username}`, function (data) {
          if (data === true) {
            $('#frm-register-client').off('submit').submit();
          } else {
            alert('Invalid data.');
          }
        })
      });

    $('#frm-login-client').on('submit', function (e) {
      e.preventDefault();

      const username = $('#login-username').val();
      if (username.length === 0) {
        alert('Invalid data.');
        return;
      }
      const pw = $('#login-password').val();
      if (pw.length === 0) {
        alert('Invalid data.');
        return;
      }
      var urlCurrent = $(location).attr("href");
      $.post('/login', {
        username: $('#login-username').val(),
        password: $('#login-password').val()
      }, function (ketqua) {
        if (ketqua) {
          console.log(ketqua);
          location.reload(urlCurrent);
        } else {
          alert('Invalid data.');
        }
      });
    });

  </script>

  {{{_sections.js}}}
</body>

</html>