{{#section 'css'}}
    <!--add your style here-->
    <link rel="stylesheet" href="../../components/header/style.css" />
    <link rel="stylesheet" href="../../components/footer/style.css" />
    <link rel="stylesheet" href="../../components/title/style.css" />
    <link rel="stylesheet" href="../../components/cards/style.css" />
    <link rel="stylesheet" href="../../components/carousel/style.css" />
    <link rel="stylesheet" href="../../components/jumbotron/style.css" />
    <link rel="stylesheet" href="../../components/backtotop/style.css" />
    <link rel="stylesheet" href="../../components/popup-form/style.css">
    <link rel="stylesheet" href="../../components/signup-signin/style.css" />
    <link rel="stylesheet" href="../../components/breadcrumb/style.css" />
    <link rel="stylesheet" href="../../components/single-product/style.css" />
    <link rel="stylesheet" href="../../components/button-icon-link/style.css">
{{/section}}

    <div class="gap-xs"></div>

    <div class="breadcrumb-section">
        <div class="gap-xs"></div>
        <div class="container">
            <ul class="my-breadcrumb">
                <li class="my-breadcrumb-item">
                    <a href="/"> Trang chủ </a>
                </li>
                <li class="my-breadcrumb-item">
                    Sản phẩm
                </li>
                <li class="my-breadcrumb-item active">
                    <a href="/search?product-type={{product.productTypeID}}">
                    {{product.productType}}
                    </a>
                </li>
                <li class="my-breadcrumb-item active">
                    <a href="/product/{{product.productID}}" id="product-id">{{product.productID}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="products-section">
        <div class="container">
            <div class="gap-xs"></div>
            <div class="product-title">
                <h1 class="product-title__h1">{{product.productName}}</h1>
            </div>

            <div class="product-block mt-sm mb-lg" >
                <div class="row">
                    <div class="col-lg-5">
                        <a href="" title="{{product.productName}}">
                            <div class="product-img">
                                <img src="../../images/{{product.origin}}" alt="puta_bread" class="puta_bread">

                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <div class="product-form">

                            <div class="product-discounted-price">{{product.unitPrice}}</div>
                            <div class="product-rating">
                                <div class="product-rating-content d-flex">
                                    <div class="product-rating__stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product-rating__code ml-3">
                                        <label for="product-code">CODE:
                                            <span id="product-code" class="font-weight-bold">9420</span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="quantity">
                                <div class="text-quantity">Số lượng</div>
                                <a class="btn-desc">
                                    <img src="../../images/icons/iconSub.png" alt="" class="icon-sub">
                                </a>
                                <input type="number" id="product-quantity" class="counter" value="1" />
                                <a class="btn-inc">
                                    <img src="../../images/icons/iconAdd.png" alt="" class="icon-add">
                                </a>
                            </div>
                            <div class="add-to-card">
                                <a href="javascript:add_to_cart()" class="text-decoration-none">
                                    <div class="text-add-to-card">THÊM VÀO GIỎ HÀNG</div>
                                </a>
                            </div>
                            <div class="wish-list">
                                <div class="buy-1-click text-decoration-none">
                                    <div class="icon-buy-1-click">
                                        <i class="fas fa-hand-point-up"></i>
                                    </div>
                                    <div class="text-buy-1-click" data-target="#form" data-toggle="modal"
                                        style="cursor: pointer">
                                        MUA NGAY VỚI 1-CLICK
                                    </div>

                                    <div class="modal fade" id="form" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0">
                                                    <h5 class="modal-title" id="exampleModalLabel">Tiến hành đặt hàng
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form id="frm-location" method="POST" action="checkout">
                                                    <div class="modal-body">
                                                        <div class="form-group pl-0">
                                                            <label for="email1">Họ và tên</label>
                                                            <input type="text" class="form-control w-100" id="email1"
                                                                aria-describedby="emailHelp">
                                                            <small id="emailHelp" class="form-text text-muted"></small>
                                                        </div>
                                                        <div class="form-group pl-0">
                                                            <label for="password1">Số điện thoại</label>
                                                            <input type="number" class="form-control w-100" id="password1">
                                                        </div>
                                                        <div class="form-group pl-0">
                                                            <label for="password1">Địa chỉ</label>
                                                            <input type="text" class="form-control w-100" id="password2">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="modal-footer border-top-0 d-flex justify-content-center">
                                                        <button type="submit" class="btn rounded-50" id="btn-buynow" style="background-color: #E6B400; color: #8B6300; font-weight: 500;">
                                                            Đặt hàng
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a title="Thêm vào danh sách yêu thích"
                                    class="add-wish-list add-vong-tron text-decoration-none" id="id-add-wish-list" onclick="addWish()">

                                </a>
                                <a href="#" class="compart-wish-list add-vong-tron text-decoration-none">

                                </a>
                            </div>
                            <div class="name-of-bread">Bánh mì Sài Gòn</div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product-right">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                <i class="fas fa-exclamation-circle"></i>
                                                Lợi ích của chúng tôi
                                                <span class="fa fa-chevron-up"></span>
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                        <div class="card-body">
                                            <ul>
                                                <li>Cho người ăn kiêng</li>
                                                <li>Ăn chay</li>
                                                <li>Từ thực phẩm tươi</li>
                                                <li>Giá tốt nhất</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                <i class="fas fa-money-check-alt"></i>
                                                Các lựa chọn thanh toán
                                                <span class="fa fa-chevron-up"></span>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                        <div class="card-body">
                                            <ul>
                                                <li>Thanh toán sau khi nhận hàng (COD)</li>
                                                <li>Thanh toán qua thẻ tín dụng, thẻ ghi nợ</li>
                                                <li>Thanh toán qua ví MoMo</li>
                                                <li>Thanh toán qua thẻ ATM có đăng ký thanh toán trực tuyến</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                                <i class="fa fa-truck"></i>
                                                Hình thức vận chuyển
                                                <span class="fa fa-chevron-up"></span>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                        <div class="card-body">
                                            <ul>
                                                <li>Nội thành (trong 2 giờ)</li>
                                                <li>Các huyện ngoại thành(3-4 giờ)</li>
                                                <li>Các tỉnh (2-5 ngày)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social mt-3">
                            <ul class="nav" style="gap: 15px;">
                                <li><a href="https://twitter.com/" target="blank" class="badge badge-primary td-none"
                                        title="Kết nối với Twitter"><i class="fab fa-twitter"></i>
                                        Tweet</a></li>
                                <li><a href="https://www.facebook.com/" target="blank"
                                        class="badge badge-primary td-none" title="Like Facebook"><i
                                            class="fa fa-thumbs-up"></i> Like
                                        1</a></li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.pita-bakery.com%2Feat-in%2Fpita-sandwich-fill-free%2F&display=popup&ref=plugin&src=like&kid_directed_site=0"
                                        target="blank" class="badge badge-primary td-none" title="Share">Share</a></li>
                                <li><a href="https://www.pinterest.com/pin/create/button/?guid=GUVj5o7KqYBh-1&url=https%3A%2F%2Fwww.pita-bakery.com%2Fproduct-range%2Fpocket-pita-bread%2F&media=https%3A%2F%2Fwww.pita-bakery.com%2Fimages%2Fdetailed%2F1%2Fpita_bread.jpg&description=Premium%20white%20Pita"
                                        target="blank" class="badge badge-dark td-none" title="Lưu ghim này"><i
                                            class="fab fa-pinterest-p"></i>
                                        Lưu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <hr style="max-width: 100%;">
                <div>
                    <span class="text-description">Mô tả</span>
                    <span>
                        <p>{{product.description}}</p>
                    </span>
                </div>
            </div>

            {{!-- <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 my-3">
                    <div class="card bg-w">
                        <div class="card-header">
                            <img src="../../images/banhngot/pita_bread.jpg" alt="gido" />
                        </div>
                        <div class="card-body">
                            <h3 class="product-name">
                                Bánh mì gì đó
                            </h3>
                            <div class="unit-price">
                                15.000
                            </div>
                        </div>

                        <div class="card-footer bg-w">
                            <div class="icons">
                                <a href="#" class="fa-3x mx-1" title="mua ngay với 1-click">
                                    <i class="fas fa-hand-point-up"></i>
                                </a>

                                <a href="#" class="fa-3x mx-1" title="xem trước">
                                    <i class="far fa-eye"></i>
                                </a>

                                <a class="fa-3x mx-1" title="thêm vào giỏ hàng">
                                    <i class="fas fa-cart-plus"
                                        onclick="this.style.color = 'rgba(235, 128, 29, 1)'"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 my-3">
                    <div class="card bg-w">
                        <div class="card-header">
                            <img src="../../images/banhngot/pita_bread.jpg" alt="gido" />
                        </div>
                        <div class="card-body">
                            <h3 class="product-name">
                                Bánh mì gì đó
                            </h3>
                            <div class="unit-price">
                                15.000
                            </div>
                        </div>

                        <div class="card-footer bg-w">
                            <div class="icons">
                                <a href="#" class="fa-3x mx-1" title="mua ngay với 1-click">
                                    <i class="fas fa-hand-point-up"></i>
                                </a>

                                <a href="#" class="fa-3x mx-1" title="xem trước">
                                    <i class="far fa-eye"></i>
                                </a>

                                <a class="fa-3x mx-1" title="thêm vào giỏ hàng">
                                    <i class="fas fa-cart-plus"
                                        onclick="this.style.color = 'rgba(235, 128, 29, 1)'"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 my-3">
                    <div class="card bg-w">
                        <div class="card-header">
                            <img src="../../images/banhngot/pita_bread.jpg" alt="gido" />
                        </div>
                        <div class="card-body">
                            <h3 class="product-name">
                                Bánh mì gì đó
                            </h3>
                            <div class="unit-price">
                                15.000
                            </div>
                        </div>

                        <div class="card-footer bg-w">
                            <div class="icons">
                                <a href="#" class="fa-3x mx-1" title="mua ngay với 1-click">
                                    <i class="fas fa-hand-point-up"></i>
                                </a>

                                <a href="#" class="fa-3x mx-1" title="xem trước">
                                    <i class="far fa-eye"></i>
                                </a>

                                <a class="fa-3x mx-1" title="thêm vào giỏ hàng">
                                    <i class="fas fa-cart-plus"
                                        onclick="this.style.color = 'rgba(235, 128, 29, 1)'"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 my-3">
                    <div class="card bg-w">
                        <div class="card-header">
                            <img src="../../images/banhngot/pita_bread.jpg" alt="gido" />
                        </div>
                        <div class="card-body">
                            <h3 class="product-name">
                                Bánh mì gì đó
                            </h3>
                            <div class="unit-price">
                                15.000
                            </div>
                        </div>

                        <div class="card-footer bg-w">
                            <div class="icons">
                                <a href="#" class="fa-3x mx-1" title="mua ngay với 1-click">
                                    <i class="fas fa-hand-point-up"></i>
                                </a>

                                <a href="#" class="fa-3x mx-1" title="xem trước">
                                    <i class="far fa-eye"></i>
                                </a>

                                <a class="fa-3x mx-1" title="thêm vào giỏ hàng">
                                    <i class="fas fa-cart-plus" onclick="this.style.color = 'rgba(235, 128, 29, 1)'"></i>
                                  </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> --}}
        </div>
    </div>
    

{{#section 'js'}}
    <!--import your js here-->
    <script src="../../components/backtotop/script.js"></script>
    <script src="../../components/popup-form/script.js"></script>
    <script src="../../components/signup-signin/script.js"></script>
    <script src="../../components/single-product/script.js"></script>

{{/section}}